/*/teacher/_output/
/*/teacher/_trash/
/*/teacher/*/_output/
/*/teacher/*/_trash/
/*/teacher/*/*/_output/
/*/teacher/*/*/_trash/
/*/teacher/*/*/*/_output/
/*/teacher/*/*/*/_trash/
/*/teacher/_EDR/
/*/teacher/_TPR/
/*/teacher/_LOG/
/*/teacher/_XTC/
/*/teacher/_TRR/
/*/teacher/*/_EDR/
/*/teacher/*/_TPR/
/*/teacher/*/_LOG/
/*/teacher/*/_XTC/
/*/teacher/*/_TRR/
/09*/teacher/04*/*/
/09*/teacher/02*/PDBQT/*
/09*/teacher/02*/SMILES/*
.DS_Store
